## AMPHORA CHALLENGE
#### By María José Carbajal Alonso

In [1]:
#importar librerias
import pandas as pd

In [46]:
#Ancestry file
ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t')
#ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t',index_col='Sample name')

#Superpopulation code dataframe
spp_code = pd.DataFrame()
spp_code['sample_name'] = ancestry_file['Sample name']

#gatting the patients only
patients = spp_code['sample_name']

spp_code['superpopulation_code'] = ancestry_file['Superpopulation code']
spp_code.set_index('sample_name', inplace=True)
spp_code

            superpopulation_code
sample_name
NA19625                      AFR
NA19835                      AFR
NA19900                      AFR
NA19917                      AFR
NA19703                      AFR
...                          ...
NA19201                      AFR
NA19206                      AFR
NA19213                      AFR
NA19225                      AFR
NA19143                      AFR

[2504 rows x 1 columns]

In [63]:
#selecting some patients in order to reduce data
patients_ = patients[426:449]
patients_= patients_.append([patients[524:542], patients[920:938], patients[1028:1046]])
main_df = pd.DataFrame()


for patient in patients_:

  
    #Gatting the patient's information in the CSV file 
    patient_x = pd.read_csv('Challenge_Samples/'+patient+'.csv')
    patientX_copy = patient_x.copy()
    patientX_copy.rename(columns={patient:'Presence'},inplace=True)
    
    #Creating the ALT and Presence lists (These will be the columns)    
    alt_list= list(patientX_copy['ALT'])
    alt_list=alt_list[:10]
    presence_list = list(patientX_copy['Presence'])
    presence_list=presence_list[:10]

    #Getting the superpopulation code from the patient
    code = spp_code[spp_code.index==patient]['superpopulation_code']  


    #Getting the Chromosoma:Location list
    list_chr_loc = list(patientX_copy['Unnamed: 0'])
    list_chr_loc=list_chr_loc[:10]

    #creating  multi indexes
    index = pd.MultiIndex.from_product(       
        [[patient], list(code), list_chr_loc], 
        names=['Patient', 'Superpopulation Code', 'Chr:Location']
        )

    d = {'ALT': alt_list, 'Presence': presence_list}

    df_patient = pd.DataFrame(index=index,
                    data=d 
                    #columns=['ChrLocation', 'ALT','Presence']
                    )    
        
    main_df = pd.concat([main_df,df_patient], axis=0)
    

patients_main_df=list(set(main_df.index.get_level_values('Patient')))
spp_code_main_df=list(set(main_df.index.get_level_values('Superpopulation Code')))
main_df.xs('HG01140')
#main_df.xs('NA12046')
#main_df
# main_df.index.names
spp_code_main_df
#patients_main_df

['SAS', 'EAS', 'AFR', 'AMR', 'EUR']

In [32]:

patients5= list(patients[:3])
chr_loc_list = list(patientX_copy['Unnamed: 0'])
# hierarchical indices and columns
index = pd.MultiIndex.from_product([chr_loc_list[:5], alt_list[:5]],
                                   names=['Chr:Location', 'ALT'])
columns = pd.MultiIndex.from_product([['AFR', 'EUR', 'AMR'], patients5],
                                     names=['Superpopulation_code', 'Patients'])

# mock some data
#data = np.round(np.random.randn(100560784, 9), 1)
# data[:, ::2] *= 10
# data += 37

d=  {'ALT': alt_list[:5], 'Presence': presence_list[:5]}
# create the DataFrame
health_data = pd.DataFrame( index=index, columns=columns)
health_data

Superpopulation_code     AFR                     EUR                     AMR  \
Patients             NA19625 NA19835 NA19900 NA19625 NA19835 NA19900 NA19625
Chr:Location ALT
5;195139     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;336952     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;389603     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;851582     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;1144802    T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN

Superpopulation_code
Patients             NA19835 NA19900
Chr:Location ALT
5;195139     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;336952     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;389603     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;851582     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;1144802    T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN

In [30]:
cols = pd.MultiIndex.from_tuples([('AFR', 'ALT'), ('AFR', 'Presence'), ('EUR', 'rank'), ('EUR', 'points')])
df = pd.DataFrame([[1,2,3,4], [2,3, 3,4]], columns=cols)
df

  AFR           EUR
  ALT Presence rank points
0   1        2    3      4
1   2        3    3      4