## AMPHORA CHALLENGE
#### By María José Carbajal Alonso

In [1]:
#importar librerias
import pandas as pd
import numpy as np

In [2]:
#Ancestry file
ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t')
#ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t',index_col='Sample name')

In [94]:
#Superpopulation code column

spp_code = pd.DataFrame()
spp_code['sample_name'] = ancestry_file['Sample name']
patients = spp_code['sample_name']
spp_code['superpopulation_code'] = ancestry_file['Superpopulation code']
spp_code.set_index('sample_name', inplace=True)
spp_code
type(patients)

pandas.core.series.Series

In [4]:
ancestry_file.columns

Index(['Sample name', 'Sex', 'Biosample ID', 'Population code',
       'Population name', 'Superpopulation code', 'Superpopulation name',
       'Population elastic ID', 'Data collections'],
      dtype='object')

In [18]:
import glob #library to get all files that match with the extension given


# Give the route and the extension
csv_files = glob.glob('pruebas/*.csv')
# this will give a list of the files names
#print(csv_files)

list_data = []
  
# Escribimos un loop que irá a través de cada uno de los nombres de archivo a través de globbing y el resultado final será la lista dataframes

for filename in csv_files:
    data = pd.read_csv(filename)
    data.set_index
    list_data.append(data)

#Para chequear que todo está bien, mostramos la list_data por consola
list_data[0]
 
#pd.concat(list_data)
#csv_files

        Unnamed: 0 ALT  HG00097
0         5;195139   T        0
1         5;336952   C        1
2         5;389603   C        1
3         5;851582   A        1
4        5;1144802   C        1
...            ...  ..      ...
10023  22;49797810   A        0
10024  22;49855674   G        1
10025  22;50021013   A        0
10026  22;50258751   A        1
10027  22;50458664   C        0

[10028 rows x 3 columns]

In [10]:
patient2 = pd.read_csv('Challenge_Samples/HG00236.csv',index_col=0)
patient2

            ALT  HG00236
5;195139      T        0
5;336952      C        1
5;389603      C        0
5;851582      A        1
5;1144802     C        1
...          ..      ...
22;49797810   A        0
22;49855674   G        1
22;50021013   A        0
22;50258751   A        1
22;50458664   C        0

[10028 rows x 2 columns]

In [19]:
len(list(patient1_copy['Unnamed: 0']))

10028

In [4]:

patient_x = pd.read_csv('Challenge_Samples/NA21144.csv')
patientX_copy = patient_x.copy()
patientX_copy.rename(columns={'NA21144':'Presence'},inplace=True)
indice_paciente = patientX_copy.columns[1]
#patient1_copy.set_index('NA21144')
list(patientX_copy['Unnamed: 0'])
list(patientX_copy['ALT'])
alt_list= list(patientX_copy['ALT'])
presence_list = list(patientX_copy['Presence'])
patientX_copy.tail()

#len(list(patientX_copy['Unnamed: 0']))
#p = pd.read_csv('C:\Users\Majo Carbajal\Documents\Amphora Challenge\AmphoraProject\Challenge _Samples\HG00096.csv')

        Unnamed: 0 ALT  Presence
10023  22;49797810   A         0
10024  22;49855674   G         1
10025  22;50021013   A         0
10026  22;50258751   A         1
10027  22;50458664   C         0

In [5]:
chr_loc_list = list(patientX_copy['Unnamed: 0'])

In [112]:
#coincidencia de spp_code
paciente = 'NA19703'
#spp_code.columns

code = spp_code[spp_code.index==paciente]['superpopulation_code'][0]
#spp_code[spp_code['sample_name']==paciente]
code
x = 0
afr_res= lambda x: ([0] * 10) if code  != 'AFR' else ([1] * 10)

type(afr_res(code))

afr = [1] * 10 if code == 'AFR' else [0]*10
type(afr)

list

In [9]:
#funcion 
def obtenerCodigo(paciente):
    code = spp_code[spp_code.index==paciente]['superpopulation_code'][0]
    return code

obtenerCodigo('NA19703')

'AFR'

In [10]:
patients = patients[:5]

for patient in patients:
    paciente = patient
    print(paciente)
    
    #code = spp_code[spp_code['sample_name']==paciente]['superpopulation_code'][0]

    code= spp_code[spp_code.index==paciente]['superpopulation_code']
   
    print(list(code))

NA19625
['AFR']
NA19835
['AFR']
NA19900
['AFR']
NA19917
['AFR']
NA19703
['AFR']

In [92]:
patients = patients[:10]
pacientitos = []

main_df = pd.DataFrame()
main_df2 = pd.DataFrame()

for i in range(len(patients)):

  
    #obtener paciente
    patient_x = pd.read_csv('Challenge_Samples/'+patients[i]+'.csv')
    patientX_copy = patient_x.copy()
    patientX_copy.rename(columns={patients[i]:'Presence'},inplace=True)
    indice_paciente = patientX_copy.columns[1]
    
    list(patientX_copy['Unnamed: 0'])
    list(patientX_copy['ALT'])
    alt_list= list(patientX_copy['ALT'])
    alt_list=alt_list[:10]
    presence_list = list(patientX_copy['Presence'])
    presence_list=presence_list[:10]

    #Get the superpopulation code from the patient
    code = spp_code[spp_code.index==patients[i]]['superpopulation_code']
    
    

  
    #----------

    datos = {'paciente':patients[i], 'ssp_code':list(code),'ALT': alt_list, 'Presence': presence_list }
    columnas = pd.MultiIndex.from_product([[patients[i]]],
                                     names=['paciente'])
    index2 = pd.MultiIndex.from_product(
        #recibir el paciente sin la extensión csv
        [ #<- mandar de forma dinámica
        list(patientX_copy['Unnamed: 0'])], 
        names=[ 'Chr:Location']
        )
    df_patient2 = pd.DataFrame(index=index2,
    data=datos, columns=columnas
    #columns=['ChrLocation', 'ALT','Presence']
    )
    #----------

    #lista de cromosomas
    chr_loc = list(patientX_copy['Unnamed: 0'])
    chr_loc=chr_loc[:10]

      #crear los multiindices
    index = pd.MultiIndex.from_product(
        #recibir el paciente sin la extensión csv
        [[patients[i]], list(code), #<- mandar de forma dinámica
        chr_loc], 
        names=['Patient', 'Superpopulation Code', 'Chr:Location']
        )
    d = {'ALT': alt_list, 'Presence': presence_list}
    df_patient = pd.DataFrame(index=index,
                    data=d 
                    #columns=['ChrLocation', 'ALT','Presence']
                    )
    
    pacientitos.append(patients[i])
    
    #df_patient

    main_df = pd.concat([main_df,df_patient], axis=0)
    main_df2 = pd.concat([main_df2,df_patient2], axis=0)




#main_df.groupby([pd.Grouper(level=1)]).sum()

patients_main_df=list(set(main_df.index.get_level_values('Patient')))
#main_df.xs('NA19703')
main_df

# main_df.index.names

                                          ALT  Presence
Patient Superpopulation Code Chr:Location
NA19625 AFR                  5;195139       T         0
                             5;336952       C         0
                             5;389603       C         1
                             5;851582       A         1
                             5;1144802      C         1
...                                        ..       ...
NA20298 AFR                  5;1167618      C         0
                             5;1175892      G         0
                             5;1398007      T         0
                             5;1447860      T         0
                             5;1721485      C         0

[100 rows x 2 columns]

In [63]:
df_prueba= pd.DataFrame()
df1 = main_df.xs('NA19703')


# df_prueba =  pd.concat([df_prueba,main_df.xs('NA19703')], axis=0)
# df_prueba =  pd.concat([df_prueba,main_df.xs('NA19625')], axis=0)
# df_prueba

In [6]:
index = pd.MultiIndex.from_product([#recibir el paciente sin la extensión csv
    ['HG0236'], ['EUR'], #<- mandar de forma dinámica
    list(patient1_copy['Unnamed: 0'])], 
    names=['Patient', 'Superpopulation_Code', 'Chr:Location'])

d = {'Chr:Location':list(patient1_copy['Unnamed: 0']),'ALT': alt_list, 'Presence': presence_list}
df2 = pd.DataFrame(index=index, 
                  data=d, 
                  #columns=['ALT','Presence', 'Superpopulation Code']
                  )
df2

NameError: name 'patient1_copy' is not defined

In [55]:
main_df = pd.concat([df1,df2], axis=0)
prueba= main_df.groupby([pd.Grouper(level=0)]).sum()

prueba.index

NameError: name 'df1' is not defined

In [7]:
patients5= list(patients[:3])
patients5

['NA19625', 'NA19835', 'NA19900']

In [48]:

patients5= list(patients[:3])
# hierarchical indices and columns
index = pd.MultiIndex.from_product([chr_loc_list[:5], alt_list[:5]],
                                   names=['Chr:Location', 'ALT'])
columns = pd.MultiIndex.from_product([['AFR', 'EUR', 'AMR'], patients5],
                                     names=['Superpopulation_code', 'Patients'])

# mock some data
#data = np.round(np.random.randn(100560784, 9), 1)
# data[:, ::2] *= 10
# data += 37

d=  {'ALT': alt_list[:5], 'Presence': presence_list[:5]}
# create the DataFrame
health_data = pd.DataFrame( index=index, columns=columns)
health_data

Superpopulation_code     AFR                     EUR                     AMR  \
Patients             NA19625 NA19835 NA19900 NA19625 NA19835 NA19900 NA19625
Chr:Location ALT
5;195139     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;336952     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;389603     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;851582     T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
5;1144802    T           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             A           NaN     NaN     NaN     NaN     NaN     NaN     NaN
             C           NaN     NaN     NaN     NaN     NaN     NaN     NaN

Superpopulation_code
Patients             NA19835 NA19900
Chr:Location ALT
5;195139     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;336952     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;389603     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;851582     T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN
5;1144802    T           NaN     NaN
             C           NaN     NaN
             C           NaN     NaN
             A           NaN     NaN
             C           NaN     NaN

In [83]:
cols = pd.MultiIndex.from_tuples([('AFR', 'ALT'), ('AFR', 'Presence'), ('company B', 'rank'), ('company B', 'points')])
df = pd.DataFrame([[1,2,3,4], [2,3, 3,4]], columns=cols)
df

  AFR          company B
  ALT Presence      rank points
0   1        2         3      4
1   2        3         3      4

In [ ]:
#coincidencia de spp_code
paciente = 'NA19703'
spp_code.columns

code = spp_code[spp_code.index==paciente]['superpopulation_code']
#spp_code[spp_code['sample_name']==paciente]
code


#function
def obtenerCodigo(paciente):
    code = spp_code[spp_code.index==paciente]['superpopulation_code'][0]
    return code

obtenerCodigo('NA19703')

#for cycle

patients = patients[:5]

for patient in patients:
    paciente = patient
    print(paciente)
    
    #code = spp_code[spp_code['sample_name']==paciente]['superpopulation_code'][0]

    code= spp_code[spp_code.index==paciente]['superpopulation_code']
   
    print(list(code))